.nav{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 40px;
    display: flex;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color: #111;
}

.nav_logo{
    position: fixed;
    left: 0;
    object-fit: contain;
    width: 80px;
}

.nav_avatar{
    position: fixed;
    left: 0;
    color: red;
    font-weight: 500px;
    padding: 6px;
}